@import "variables.scss";

// Usar REM para medidas de caja y EM para fuente
// Para algo que quiera estatico, usar REM
// Lo ideal usar siempre EM

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: map-get($font, "secondary");
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: map-get($colors, "base");
  font-size: clamp(0.8em, 1.5vw, 1.1em);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: map-get($colors, "primary");
  color: white;
  animation: tran 1s ease forwards;
  z-index: 999;
}

footer {
  background-color: map-get($colors, "primary");
}

main {
  max-width: 54em;
  margin: 0 auto;
}

h1 {
  font-family: map-get($font, "primary");
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

// Navbar

.navb {
  max-width: 60em;
  margin: 0 auto;
  font-weight: 500;
}
.navb__img {
  // height: 2.5em;
  height: 2.3em;
}
.navb__ul {
  list-style: none;
}
.navb__li:not(:first-child) {
  padding-left: 1em;
}

.navb__li:not(:first-child)::before {
  content: "/";
  margin-right: 1em;
}

.navb__btn {
  color: map-get($colors, "primary");
  font-weight: 700;

  padding: 0.2em;

  border: none;
  border-radius: 0.2em;
}

.navb__btn > a {
  color: map-get($colors, "primary");
}

// Contenido Main

.section__1 {
  min-height: 60vh;
}

.section__firstContainer {
  position: relative;
  margin-top: 10vh;
  animation: fade 1.5s ease;
}

.section__foto {
  min-height: 20em;
  min-width: 15em;

  position: absolute;

  background-color: rgb(116, 204, 39);
}
.section__titulo {
  margin: 14em 0 0 10em;
  position: absolute;
}

.section__h1 {
  font-size: clamp(3.2em, 5vw, 5em);
}

.section__p {
  padding: 0 clamp(1em, 6em, 8em) 0 6em;
}

.section__scroll {
  display: flex;
  align-items: center;
  justify-content: center;

  filter: invert(30%);

  position: relative;
  padding: 5em 0em 15em 0em;
}

.section__circle {
  width: clamp(0.1em, 5vw, 0.4em);
  height: clamp(0.1em, 5vw, 0.4em);

  margin-bottom: 1em;
  position: absolute;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  background-color: map-get($colors, "text");
}

.section__circle-img {
  height: clamp(0.5em, 5vw, 2.7em);
}

// Sobre Mi

.article__mainContainer {
  display: flex;
  flex-direction: row;
}

.article__aboutMe {
  max-width: 33em;
}

.article__h1 {
  padding: 2em 0 0 0.8em;
}

.article__description {
  padding: 6em 2em 1em 2em;
}

.article__ContainerBtn {
  display: flex;
  padding-top: 2em;
  justify-content: flex-start;
}

.article__btn {
  border-radius: 0.3em;
  padding: 0.4em;
  // background-color: #bfc0c0;
  background-color: map-get($colors, "primary");
}
#article__btn2 {
  margin-left: 1em;
}

.article__btn-img {
  filter: invert(100%);
  max-width: 1em;
}

.article2__image-href {
  height: 1.5em;
}

.article__btn-p {
  margin: 0;
  color: white;
}

.article__images {
  min-width: 21em;
}

.article__logo {
  display: flex;
  justify-content: flex-end;
  padding: 4em;
}

.article__img-logo {
  max-height: 5em;
}
.article__img-linkedin,
.article__img-gitHub {
  max-height: 1.5em;
  margin: 0.5em;
}

.article__coffe {
  background-image: url("/UI/coffe1.jpg");
  background-position: -33em;
  // background-size: 47em 30em;
  background-size: 55em 35em;
  background-repeat: no-repeat;
  opacity: 0.8;
  display: flex;
  align-items: flex-end;

  min-height: 35em;
  position: relative;
}

.article__social {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  filter: invert(100%);

  min-width: 20em;
}

// Perfil Profesional

.article__title {
  display: flex;
  justify-content: flex-end;

  padding: 15em 9em 4em 0;
}

.article2__content {
  display: flex;
  flex-direction: column;
}

.article2__description {
  display: flex;

  padding: 2em;
}

.article2__imagePrj {
  min-width: 20em;
  padding: 1em;
  background-color: sienna;
}

.article2__imagePrj-js {
  background-image: url("/UI/JS_Game.png");

  border-radius: 0.2em;
  background-position-y: -9em;
  background-position-x: -1em;
  min-width: 20em;
}

.article2__imagePrj-emt {
  background-image: url("/UI/EMT.png");

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  border-radius: 0.2em;
  min-width: 20em;
}

.article2__text {
  max-width: 30em;

  padding: 2em;
}

.article2__images {
  display: flex;
  justify-content: space-between;

  padding: 0.5em;
}

.article2__images > div > img {
  max-height: 1.5em;
  padding-left: 0.5em;
}

// Fotos de lo que puedo hacer

.article3__mainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 20em;
}

.article3__image {
  max-height: clamp(3em, 4vw, 4em);
  filter: invert(85%);
}

// Footer

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 auto;
  max-width: 60em;

  color: white;
}

.footer__welcome {
  max-width: 40em;
}

.footer__text {
  display: flex;
  flex-direction: column;
  min-width: 50em;
  padding: 2em;
}

.footer__text-h1 {
  font-size: clamp(2.65em, 5vw, 3.5em);
  max-width: 20em;
}

.footer__zone2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer__up {
  min-height: 65%;
}

.footer__up-btn {
  color: map-get($colors, "primary");
  font-weight: 700;

  padding: 0.2em;

  border: none;
  border-radius: 0.2em;
}

.footer__up-btn > a {
  color: map-get($colors, "primary");
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;

  padding: 0em 2em 2em 0em;

  filter: invert(100%);
}

.footer__text-p {
  margin: 0;
  padding-right: 5em;
}
.footer__information {
  padding-top: 10em;
  display: flex;
}

// Figuras geometricas

.figure__square,
.figure__square-2,
.figure__square-3,
.figure__square-4,
.figure__square-5,
.figure__square-6,
.figure__square-7,
.figure__square-8 {
  background-color: #dfecdb;
  // background-color: #f7ead3;
  // background-color: #c71919f0;
  position: absolute;
  z-index: -1;
}

.figure__square {
  min-width: 20em;
  min-height: 20em;

  margin-top: 10em;
  right: 0em;

  border-radius: 0.2em;
}

.figure__square-2 {
  min-width: 8em;
  min-height: 8em;

  right: 19em;

  border-radius: 0.2em;
}

.figure__square-3 {
  min-width: 8em;
  min-height: 8em;

  margin-top: -12em;
  right: 6em;

  border-radius: 0.2em;
}

.figure__square-4 {
  min-width: 20em;
  min-height: 20em;

  left: 0em;
  margin-top: -10em;

  border-radius: 0.2em;
}

.figure__square-5 {
  min-width: 8em;
  min-height: 8em;

  margin-top: -25em;
  left: 8em;
  border-radius: 0.2em;
}

.figure__square-7 {
  min-width: 20em;
  min-height: 20em;

  margin-top: -15em;
  right: 0em;

  border-radius: 0.2em;
}

.figure__square-7:hover img {
  mix-blend-mode: difference;
}

.figure__square-8 {
  min-width: 8em;
  min-height: 8em;

  margin-top: -29.5em;
  right: 8em;
  border-radius: 0.2em;
}
// Animaciones Figuras

.updown--animation__type1 {
  animation-name: infiniteUpDown__type1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}

@keyframes infiniteUpDown__type1 {
  0% {
    transform: translateY(0em) rotate(-8deg);
  }

  50% {
    transform: translateY(2.5em) rotate(-10deg);
  }

  100% {
    transform: translateY(0em) rotate(-8deg);
  }
}

.updown--animation__type2 {
  animation-name: infiniteUpDown__type2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}

@keyframes infiniteUpDown__type2 {
  0% {
    transform: translateY(0em) rotate(18deg);
  }

  50% {
    transform: translateY(2.5em) rotate(20deg);
  }

  100% {
    transform: translateY(0em) rotate(18deg);
  }
}

.down__disappear {
  animation-name: down__disappear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}

@keyframes down__disappear {
  0% {
    transform: translateY(0em);
    opacity: 0%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    transform: translateY(1em);
    opacity: 0%;
  }
}

@keyframes tran {
  0% {
    opacity: 0;
    transform: translateY(-3em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Breakpoints Simples

// Movil: 0-480
// Tablet: 480-960
// PC: 960-1328

// Breakpoints Completos

// Movil: 0-320-480
// Tablet: 480-1024-960
// PC: 960-1024-1328

// Breakpoints Personalizado

// Es un pixel que rompe mi web.
// Revisar google analytics
// gs.statcounter.com

@media screen and (min-width: 480px) and (max-width: 768px) {
  // body {
  //   background-color: map-get($colors, "primary");
  // }
}
